<a href="https://colab.research.google.com/github/vanshbaba/Preprocessing/blob/main/Assesment1_Vansh_Bahadur_SVD%26PCA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Dimension Reduction of Wine data using SVD & PCA**

###**Mandatory Key steps:**

1.   Loading the data set.
2.   Feature Scaling of Dataset using StandardScaler function in scikit learn for Standardisation.
3.   Use TruncatedSVD & PCA function in scikit learn to apply SVD & PCA for dimensionality reduction of iris dataset respectively.
4.   Fit and transform the data set.
5.   Visualize the reduced data using Matplotlib library to mark the difference between SVD, PCA on Cancer dataset.

###**Importing Libraries and loading the dataset**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
vansh = pd.read_csv("/content/wine.csv")
vansh

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [ ]:
vansh=pd.DataFrame(vansh.data,columns=vansh['Proline'])
#df1=pd.DataFrame(data.data,columns=data['feature_names'])

AttributeError: ignored

In [ ]:
df2=pd.DataFrame(data.target,columns=['target'])

In [ ]:
plt.figure(figsize=(10, 7))
plt.title(label='Iris DATA',fontsize=25,color="green")
plt.scatter(df1['sepal length (cm)'],df1['sepal width (cm)'],c=df2['target'])

####***Feature Scaling of Dataset using StandardScaler***

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
for i in df1.columns:
  y=np.array(df1[i]).reshape(-1,1)
  df1[i]=sc.fit_transform(y)

In [ ]:
df1.head()

###**Using SVD**

In [ ]:
svd = TruncatedSVD(n_components=2)
result= svd.fit_transform(df1)
print(result[0:5]

In [ ]:
r=pd.DataFrame(result,columns=['s1','s2'])
r.head()

###**Using PCA**

In [ ]:
pca = PCA(n_components=2)
result_pca = pca.fit_transform(df1)
explained_variance = pca.explained_variance_ratio_
print(explained_variance*100)
sum(explained_variance*100)

In [ ]:
p=pd.DataFrame(result_pca,columns=['pc1','pc2'])
p.head()

###**Visualization of SVD and PCA result**

In [ ]:
plt.figure(figsize=(16, 5))
plt.subplot(1, 2, 1)
plt.scatter(r['s1'],r['s2'],c=df2['target'])
plt.xlabel('SVD1')
plt.ylabel('SVD2')
plt.title(label='Relation between 1st and 2nd component of SVD',fontsize=17,color="blue")
plt.subplot(1, 2, 2)
plt.scatter(p['pc1'],p['pc2'],c=df2['target'])
plt.xlabel('PC1')
plt.ylabel('PC2')
plt.title(label='Relation between 1st and 2nd component of PCA',fontsize=17,color="red")